.container{
    display: flex;
    /* width: 20%; */
    align-items: center;
    justify-content: center;
   
}
.container__button{
padding: 1em;
background-color: lightskyblue;
border: none;
border-radius: 3px;
}